.text-h1{
  font-family: Prompt;
  font-style: normal;
  font-weight: 600;
  font-size: 48.3px;
  line-height: 73px;
  color: #212121;
}
.text-h2{
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 31.25px;
  line-height: 47px;

  color: #333333;
}
.text-h3{
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #212121;
}
.text-h1-b{
  font-family: Prompt;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 59px;
  color: #302EA7;
}
.text-p{
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #212121;
}
.text-p1{
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 19px;
  display: flex;
  align-items: center;
  
  /* colors/333333 */
  
  color: #333333;
}
.text-p2{
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 19px;
  display: flex;
  align-items: center;
  
  /* colors/333333 */
  
  color: #A6A8AB;
}
.text-p-none{
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;

}
.text-button{
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 38px;

  color: #FFFFFF;
}
.size-card{
  width: 611px;
  height: 540px;
  top: 30px;
}
.bg-card{
  width: 1197px;
  height: 497px;
  left: 122px;
}
.line{
  width: 146px;
  height: 0px;
  left: 646px;
  top: 766px;

  border: 8px solid #302EA7;
}

.size-review{
  width: 344px;
  height: 283px;
  border-radius: 10px;
}
.size-review2{
  width: 344px;
  height: 305px;

  background: #FFFFFF;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}