@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* @font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(/assets/fonts/Kanit-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-SemiBold";
  src: local("Kanit-SemiBold"), url(/assets/fonts/Kanit-SemiBold.ttf) format("truetype");
} 

@font-face {
  font-family: "Kanit-Bold";
  src: local("Kanit-Bold"), url(/assets/fonts/Kanit-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Regular";
  src: local("Kanit-Regular"), url(/assets/fonts/Kanit-Regular.ttf) format("truetype");
}

button,
input,
select,
textarea,
a,
p,
label,
span,
td,
tr,
pre,
div {
  font-family: Kanit !important;
}

h1,
h2,
h3 {
  font-family: Kanit-SemiBold;
}

h4,
h5 {
  font-family: Kanit-Bold;
} */

